<%%= form_for <%= item_path :instance_variable => true %> do |f| %>
	<fieldset>
	  <%% if <%= item_path :instance_variable => true %>.errors.any? %>
		<div class="alert-message block-message error">
	        <a class="close" href="#">×</a>
	        <p><strong><%%= pluralize(<%= item_path :instance_variable => true %>.errors.count, "error") %> prohibited this <%= item_path %> from being saved:</strong></p>
		 	<ul>
		      <%% <%= item_path :instance_variable => true %>.errors.full_messages.each do |msg| %>
		        <li><%%= msg %></li>
		      <%% end %>
		    </ul>
	      </div>
	  <%% end %>
	<%- model_attributes.each do |attribute| -%>
	  <div class="clearfix form_field">
	    <%%= f.label :<%= attribute.name %> %>
	    <div class="input">
	      <%%= f.<%= attribute.field_type %> :<%= attribute.name %>, :class => "xxlarge" %>
	    </div>
	  </div>
	<%- end -%>
	  <div class="actions">
	    <%%= f.submit :class => "btn primary"%>
	  </div>
	<fieldset>
<%% end %>